  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

  .app {
    background-color: rgb(1, 16, 34);
    height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
  }